[submodule "packages/distel"]
	path = packages/distel
	url = git://github.com/bmizerany/distel.git
[submodule "packages/gist.el"]
	path = packages/gist.el
	url = git://github.com/defunkt/gist.el.git
[submodule "packages/magit"]
	path = packages/magit
	url = git://github.com/technomancy/magit.git
[submodule "packages/cheat.el"]
	path = packages/cheat.el
	url = git://github.com/defunkt/cheat.el.git
[submodule "packages/yasnippet"]
	path = packages/yasnippet
	url = git://github.com/dirceu/yasnippet.git
[submodule "packages/jump.el"]
	path = packages/jump.el
	url = git://github.com/eschulte/jump.el.git
[submodule "packages/haskell-mode"]
	path = packages/haskell-mode
	url = git://github.com/jwiegley/haskell-mode.git
[submodule "packages/clojure-mode"]
	path = packages/clojure-mode
	url = git://github.com/jochu/clojure-mode.git
[submodule "packages/twilight-emacs"]
	path = packages/twilight-emacs
	url = git://github.com/crafterm/twilight-emacs.git
[submodule "packages/yaml-mode"]
	path = packages/yaml-mode
	url = git://github.com/yoshiki/yaml-mode.git
[submodule "packages/color-theme-tango-2"]
	path = packages/color-theme-tango-2
	url = git://github.com/wfarr/color-theme-tango-2.git
[submodule "packages/color-theme-zenburn"]
	path = packages/color-theme-zenburn
	url = git://github.com/credmp/color-theme-zenburn.git
[submodule "packages/inkpot-mod"]
	path = packages/inkpot-mod
	url = git://github.com/andrewellis/inkpot-mod.git
[submodule "packages/rspec-mode"]
	path = packages/rspec-mode
	url = git://github.com/emacsmirror/rspec-mode.git
[submodule "packages/twit-el"]
	path = packages/twit-el
	url = git://github.com/ieure/twit-el.git
[submodule "packages/textmate.el"]
	path = packages/textmate.el
	url = git://github.com/irfn/textmate.el.git 
[submodule "packages/swank-clojure"]
	path = packages/swank-clojure
	url = git://github.com/technomancy/swank-clojure.git
[submodule "packages/markdown.el"]
	path = packages/markdown.el
	url = git://jblevins.org/git/markdown-mode.git
[submodule "packages/espresso.el"]
	path = packages/espresso.el
	url = git://github.com/justinlilly/espresso.el.git
[submodule "packages/js2-mode"]
	path = packages/js2-mode
	url = git://github.com/irfn/js2-mode.git
[submodule "packages/nxhtml"]
	path = packages/nxhtml
	url = git://github.com/emacsmirror/nxhtml.git
[submodule "packages/zen-and-art"]
	path = packages/zen-and-art
	url = git://github.com/irfn/zen-and-art.git
[submodule "packages/growl"]
	path = packages/growl
	url = git://github.com/emacsmirror/growl.git
[submodule "packages/rinari"]
	path = packages/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "packages/cedet"]
	path = packages/cedet
	url = git://github.com/emacsmirror/cedet.git
[submodule "packages/ecb"]
	path = packages/ecb
	url = git://github.com/emacsmirror/ecb.git
[submodule "packages/dvc"]
	path = packages/dvc
	url = git://github.com/emacsmirror/dvc.git
[submodule "packages/autocomplete"]
	path = packages/autocomplete
	url = git@github.com:irfn/auto-complete.git
[submodule "packages/ri-emacs"]
	path = packages/ri-emacs
	url = git://github.com/pedz/ri-emacs.git
[submodule "packages/browse-kill-ring"]
	path = packages/browse-kill-ring
	url = git://github.com/emacsmirror/browse-kill-ring.git
[submodule "packages/jdee"]
	path = packages/jdee
	url = git://github.com/emacsmirror/jdee.git
[submodule "packages/slime"]
	path = packages/slime
	url = git://github.com/emacsmirror/slime.git
[submodule "packages/android-mode"]
	path = packages/android-mode
	url = git://github.com/remvee/android-mode.git
